$color-white: white
$color-black: black
$color-grey-light: #d3d3d3

$color-body: rgb(15 17 20)

$color-sidebar: rgba(15,17,20,.85)
$color-form: rgba(15,17,20,.85)
$color-button: rgba(0,0,0,0)
$color-text-inputs: #636363
$color-errors: #CD5C5C

$color-shadows: rgba(0, 0, 0, 0.3)
$color-borders: #292f38

$color-created-workouts: #2f2f2f
$color-label-workout-cycling: #e1bb89
$color-label-workout-running: #be99e7

$select-arrow-icon: url(../icons/arrow-select.svg)

*, ::after, ::before
    margin: 0
    padding: 0
    margin: 0
    padding: 0
    box-sizing: inherit
    font-family: 'Tektur', sans-serif
    font-weight: 400
    box-sizing: border-box

a:link, a:visited
    color: $color-grey-light

button:focus
    outline: none

// Media queries / Медіа запроси
@mixin respond($breakpoint)
    @if $breakpoint == very-small-phone
        @media (max-width: 340px) // 375px -- 320px
            @content
    @if $breakpoint == medium-small-phone
        @media (max-width: 410px) // 375px -- 320px
            @content
    @if $breakpoint == small-phone
        @media (max-width: 435px) // 375px -- 320px
            @content
    @if $breakpoint == phone
        @media (max-width: 475px) // 375px -- 320px
            @content
    @if $breakpoint == big-phone
        @media (max-width: 561px) // 450px -- 376px
            @content
    @if $breakpoint == small-tablet
        @media (max-width: 670px) // 650px -- 451px
            @content
    @if $breakpoint == tablet
        @media (max-width: 900px) // 850px -- 651px
            @content
    @if $breakpoint == big-tablet
        @media (max-width: 1279px) // 1279px -- 850px
            @content
    @if $breakpoint == small-desktop
        @media (max-width: 1350px) // 1350px -- 1279px
            @content
    @if $breakpoint == desktop
        @media (max-width: 1420px) // 1420px -- 1350px
            @content
    @if $breakpoint == big-desktop
        @media (max-width: 1515px) // 1515px -- wider
            @content

html
    position: relative
    font-size: 62.5%
    @include respond(big-desktop)
        font-size: 59%
    @include respond(desktop)
        font-size: 56%
    @include respond(small-desktop)
        font-size: 52.5%
    @include respond(big-tablet)
        font-size: 50%
    @include respond(tablet)
        font-size: 48%
    @include respond(small-tablet)
        font-size: 49%
    @include respond(big-phone)
        font-size: 49%
    @include respond(phone)
        font-size: 45%
    @include respond(small-phone)
        font-size: 45%
    @include respond(medium-small-phone)
        font-size: 45%
    @include respond(very-small-phone)
        font-size: 45%
body
    position: relative
    color: $color-white
    line-height: 1.6
    overscroll-behavior-y: none
    background-color: $color-body
    height: 100vh
    display: flex
    flex-direction: row-reverse
    align-items: center
    overflow: hidden
    @include respond(big-tablet)
        align-items: flex-end
        justify-content: center
        overflow: hidden
@keyframes shake
    0%
        -webkit-transform: translate(0)
        transform: translate(0)

    20%
        -webkit-transform: translate(-.2rem, .2rem)
        transform: translate(-.2rem, .2rem)

    40%
        -webkit-transform: translate(-.2rem, -.2rem)
        transform: translate(-.2rem, -.2rem)

    60%
        -webkit-transform: translate(.2rem, .2rem)
        transform: translate(.2rem, .2rem)

    80%
        -webkit-transform: translate(.2rem, -.2rem)
        transform: translate(.2rem, -.2rem)

    100%
        -webkit-transform: translate(0)
        transform: translate(0)

@keyframes show-error-message
    0%
        opacity: 0
    100%
        opacity: 1
        transform: translateY(5rem)

@keyframes show-error-message-tablet
    0%
        opacity: 0
    100%
        opacity: 1
        transform: translateY(5.5rem)

@keyframes show-error-message-phone
    0%
        opacity: 0
    100%
        opacity: 1
        transform: translateY(0rem)

// // 62.5% = 10px font size / 62.5% = розміру шрифту в 10px

.hidden-focus
    opacity: 0
