:root {
  --color-brand--1: #e1bb89;
  --color-brand--2:  #be99e7;

  --color-dark--1: linear-gradient(to bottom, #0f1114 0%, #292f38 90%);

  --color-dark--2: #226093;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);

  --arrow-bg: #d3d3d3;
  --arrow-icon: url(../icons/downarrow_121316.svg);
  --option-bg: #d3d3d3;
  --select-bg: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Tektur', cursive !important;
}

html {
  position: relative;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  line-height: 1.6;
  overscroll-behavior-y: none;
  background-color: black;
  height: 100vh;
  padding: 0.3em;
  text-shadow: 0.2px 0.2px 0.1px black;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

a:link,
a:visited {
  color: var(--color-brand--1);
}

.sidebar {
  position: absolute;
  height: 95%;
  width: 38%;
  border-top-left-radius: 15px; /* Радиус сверху слева */
  border-bottom-left-radius: 15px; /* Радиус снизу слева */
  border-top: 1px solid #292f38; /* Обводка сверху */
  border-bottom: 1px solid #292f38; /* Обводка снизу */
  border-left: 1px solid #292f38; /* Обводка слева */
  border-right: none; /* Без обводки справа */
  padding: 3rem 4rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  z-index: 100;
}

.sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top-left-radius: 15px; /* Радиус сверху слева */
  border-bottom-left-radius: 15px; /* Радиус снизу слева */
  border-top: 1px solid #292f38; /* Обводка сверху */
  border-bottom: 1px solid #292f38; /* Обводка снизу */
  border-left: 1px solid #292f38; /* Обводка слева */
  border-right: none; /* Без обводки справа */
  backdrop-filter: blur(3px);
  z-index: -1;
  background: rgb(15 17 20 / 85%);
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}



.sidebar .header-icon {
  height: 30px;
  display: flex;
  margin-right: 1rem;
}

.header {
  align-self: center;
  font-size: 3.5rem;
  font-weight: 600;
  color: #d3d3d3;
}

.workouts {
  list-style: none;
  height: 88%;
  overflow-y: auto;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout {
  border-radius: 5px;
  padding: 1.54rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr;
  gap: 0.75rem 1.5rem;
  background-color: rgba(44, 44, 46);

}

.workout--running {
  border-left: 5px solid var(--color-brand--2);


}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);

}

.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  text-shadow: 0.2px 0.2px 0.1px black;
}

.form {
  position: relative;
  backdrop-filter: blur(300px);
  -webkit-backdrop-filter: blur(300px);
  background: rgb(15 17 20);
  border: 0.1px solid #292f38;
  border-radius: 5px;
  padding: 1.5rem 4.75rem 1.5rem 1.5rem;
  margin-bottom: 1.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;
  text-shadow: 0.2px 0.2px 0.1px black;
  height: 9.25rem;
  transition: .5s ease-out;

}

.form-hidden-wrap {
  position: relative;
}

.sidebar .header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.error-input-message-wrap {
  position: absolute;
  transform: translateY(10rem);
  animation: .3s fade-in forwards;
  display: none;
}

.error-input-message {
  font-size: 15px;
  color: rgb(205, 92, 92);
}

  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(4rem);
    }
  }

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
  transition: all .5s ease-in;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 40%;
  font-size: 1.4rem;
}

.form__input {
  width: 50%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  outline: none;
  border-radius: 3px;
  color: black;
  background: #d3d3d3;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: .3s;
}

.form__input:focus {
  outline: none;
  background-color: white;
}

.form__input--type:focus {
background-color: #d3d3d3;
border: none;
}

.form__input--type {
/* padding-left: 0.8rem; */
color: #636363;
cursor: pointer;
-webkit-appearance: none;
   -moz-appearance: none;
   appearance:unset;
   background: var(--arrow-icon) no-repeat right 0.5rem center / 1.4rem,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
}

.form__input--type,
.form__input::placeholder {
  color: #636363;
}

.invalid-input-text-color::placeholder,
.invalid-input-text-color {
  color: white;
}

.correct-input-text-color::placeholder {
  color:#636363;
}

.invalid-animation-input {
  animation: shake3856 0.2s linear both;
}

.form__btn-wrap {
  position: absolute;
  display: flex;
  align-self: center;
  right: 0;
  height: 100%;
}

.form__btn {
  display: flex;
  justify-content: end;
  align-items: center;
  justify-content: center;
  width: 4rem;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  background-color: rgb(15 17 20);
  color: grey;
  border-left: 1px solid #292f38;
  transition: .2s;
}

/* .form__btn:hover{
background-color: #292a2b;
} */

.form__btn:hover .btn-img {
  transform: translateX(5px); /* Измените значение сдвига на то, что вам нужно */
}

.btn-img {
width: 3rem;
transition: .2s;
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
  text-shadow: 0.2px 0.2px 0.1px black;
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
  text-shadow: 0.2px 0.2px 0.1px black;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
  text-shadow: 0.2px 0.2px 0.1px black;
}

#map {
  width: 100%;
  height: 100%;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
  text-shadow: 0.2px 0.2px 0.1px black;
  font-size: 1.5rem;
}

.mark-popup .leaflet-popup-content-wrapper {
  border-bottom: 5px solid var(--color-brand--2);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
  -moz-appearance: textfield;
 }

div.gm-bundled-control div.gmnoprint {
    display: none !important;
}

@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.info-window-style__item {
  color: black;
  font-family: Manrope;
}

.info-window-style__item:first-child {
  margin-bottom: 7px;
}

.info-window-style-metrics {
font-weight: 500;
}

.info-window-style__purple{
position: absolute;
display: block;
width: 7px;
height: 100%;
left: 0;
top: 0;
background-color:var(--color-brand--2);
}

.info-window-style__orange{
  position: absolute;
  display: block;
  width: 7px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--color-brand--1);
  }

  .gm-style .gm-style-iw {
  padding: 12px !important;
  border-radius: 5px;
  background-color: #d3d3d3 !important;
  }

.gm-style .gm-style-iw-tc::after {
  background-color: #d3d3d3 !important;
}

.gm-style-iw-d {
  overflow: hidden !important;
}

/* справа снизу на карте надписи убрать */
.gmnoprint div {
  background: none !important;
}

button:focus{
outline: none;
}

.error-window {
display: flex;
justify-content: center;
}

.notification-window-wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 150;
  opacity: 1;
  /* background-color: black; */
}

.notification-window-wrap.hidden {
  height: 0;
  margin-bottom: 0;
  opacity: 0;
}

.notification-window {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  width: 22%;
  height: 10%;
  border-radius: 5px;
  padding: 10px;
}

.notification-window::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  backdrop-filter: blur(2px);
  z-index: -1;
  background: #d3d3d394;
}

.notification-content {
  display: flex;
  align-items: center;
}

.notification-window-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: #f87171;
  border-radius: 5px;
  margin-right: 10px;
}

.notification-window-icon {
  width: 30%;
  height: 40%;
}

.notification-window-close {
  position: absolute;
  right: 4px;
  top: 1px;
  color: black;
  cursor: pointer;
}

.notification-window-text {
  flex: 1;
  color: black;
  font-size: 13.5px;
  font-weight: 300;
}

/* /// */
/* .start-instruction-wrap-1 {
position: absolute;
left: 10%;
top: 50%;
transform: translateY(-50%);
display: flex;
justify-content: center;
align-items: center;
width: 400px;
height: 200px;
background-color: #8080804f;
backdrop-filter: blur(10px); 
z-index: 152;
/* opacity: 0; */
/* } */

/* .hidden-start-instruction {
  display: none;
} */

.start-instruction-window-1 {
  position: absolute;
  left: 10%;
  top: 30%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 11%;
  padding: 5px;
  border-radius: 5px;
  background-color: #d3d3d3;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;


}

.start-instruction-text-1 {
color: black;
text-align: center;
line-height: 1.7;
font-size: 14px;
/* margin-bottom: 40px; */
}

.start-instruction-btn-1 {
width: 20%;
height: 13%;
background-color: black;
color: white;
cursor: pointer;
border-radius: 5px;
font-weight: 500;
border: none;
transition: all .2s;
}

.start-instruction-btn-1:hover {
background-color: transparent;
outline: 1px solid black;
color: black;
box-shadow: 0 2px 4px rgb(0 0 0 / 67%);
}

.start-instruction-btn-1:active {
  transition: none;
  box-shadow: none;
}

/* ////////////////////// */


.start-instruction-window-2 {
  position: absolute;
  right: 4%;
  top: 30%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 8%;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #d3d3d3;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;

}
  
  .start-instruction-text-2 {
  color: black;
  text-align: center;
  line-height: 1.7;
  font-size: 14px;
  /* margin-bottom: 40px; */
  }
  
  .start-instruction-btn-2 {
  width: 20%;
  height: 13%;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  border: none;
  transition: all .2s;
  }
  
  .start-instruction-btn-2:hover {
  background-color: transparent;
  outline: 1px solid black;
  color: black;
  box-shadow: 0 2px 4px rgb(0 0 0 / 67%);
  }
  
  .start-instruction-btn-2:active {
    transition: none;
    box-shadow: none;
  }
  /* ///////////////////// */


  
  .start-instruction-window-3 {
    position: absolute;
    left: 15%;
    top: 5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 10%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #d3d3d3;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
    z-index: 100;
  opacity: 0;

  }
    
    .start-instruction-text-3 {
      color: black;
      text-align: center;
      line-height: 1.7;
      font-size: 14px;
      margin-bottom: 10px;
    }
    
    .start-instruction-btn-3 {
    width: 50%;
    height: 35%;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    transition: all .2s;
    }
    
    .start-instruction-btn-3:hover {
    background-color: transparent;
    outline: 1px solid black;
    color: black;
    box-shadow: 0 2px 4px rgb(0 0 0 / 67%);
    }
    
    .start-instruction-btn-3:active {
      transition: none;
      box-shadow: none;
    }
/* Сделать обводку фокуса прозрачной

/* .info-window-style {
} */

/* .gm-ui-hover-effect {
  top: 3px ; 
} */

/* .gm-style .gm-style-iw {
  color: black;
}

